arabic-reshaper==3.0.0
asgiref @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_47jggogimk/croot/asgiref_1724072471856/work
asn1crypto==1.5.1
Brotli==1.1.0
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
cryptography==44.0.2
cssselect2==0.8.0
defusedxml==0.7.1
Django @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_578q9wrure/croot/django_1731615969522/work
django-cors-headers==4.7.0
django-rest-knox==5.0.2
django-rest-passwordreset==1.5.0
djangorestframework==3.15.2
fonttools==4.56.0
fpdf2==2.8.2
gunicorn==23.0.0
html5lib==1.1
idna==3.10
lxml==5.3.1
oscrypto==1.3.0
packaging==25.0
pillow==10.4.0
pycparser==2.22
pydyf==0.11.0
pyHanko==0.26.0
pyhanko-certvalidator==0.26.8
pypdf==5.4.0
pyphen==0.17.2
pypng==0.20220715.0
python-bidi==0.6.6
PyYAML==6.0.2
qrcode==7.4.2
qrcode-styled==0.2.2
reportlab==4.3.1
requests==2.32.3
six==1.17.0
sqlparse @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_444946bpsc/croot/sqlparse_1734704466504/work
svglib==1.5.1
tinycss2==1.4.0
tinyhtml5==2.0.0
typing_extensions==4.13.0
tzlocal==5.3.1
uritools==4.0.3
urllib3==2.3.0
watchdog==6.0.0
webencodings==0.5.1
xhtml2pdf==0.2.17
zopfli==0.2.3.post1
zstandard==0.23.0
